<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="style.css" rel="stylesheet">
<head>

    <title>about</title>

<body>
<div class="container">

    <div class="log">
        <button class="in"><a class="HOME" href="/home">HOME</a></button>
    </div>
    <h1><b><i>About us</i></b></h1>
    <div class="details">
        <p>This web page have been made to provide best service to our customers</p>
        <p>We are doing our best to make it as easy as possible to apply for auto service.</p>
        <p>Just choose most appropriate date and time or contact us:</p>
        <ul><b>
            <li>Phone: 26 333 333</li>
            <li>E-mai: photogallerybootcamp@gmail.com</li>
            <li>Address: Riga, Skanstes street 43</li>
        </b></ul>
        <p>We are working:</p>
        <ul><b>
            <li>Working hours: 10.00 - 18.00</li>
        </b></ul>
        </p>

    </div>
</div>
</body>
</html>