<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <title>adminDashboard</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="log">
        <button class="in"><a class="HOME" href="/home">HOME</a></button>
    </div>
        <h1>Admin Page</h1>
        <p>________________________________________________________________________________________</p>
    <div class="jumbotron">
        <h1>{{jumbo_time}}</h1>
    </div>
        <p>________________________________________________________________________________________</p>
    <div class="details">
        <p>________________________________________________________________________________________</p>
        <p>10:00</p>
        <div class="jumbotron">
            <p>{{jumbo2}}</p>
        </div>
        <form action="/admin">
            <div>
            <input type="submit" value="In Progress_10" name="function">
            </div>
            <div>
            <input type="submit" value="Done_10" name="function">
            </div>
        </form>
        <p>________________________________________________________________________________________</p>
    </div>


</div>

</body>
</html>