<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <title>adminDashboard</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="log">
        <button class="in"><a class="HOME" href="/home">HOME</a></button>
    </div>
        <h1>Admin Page</h1>
        <p>________________________________________________________________________________________</p>
    <div class="jumbotron">
        <h1>{{jumbo_time}}</h1>
    </div>
    <p>________________________________________________________________________________________</p>
    <p>10:00</p>
    <div class="jumbotron">
        <p>{{jumbo1}}</p>
    </div>
        <form action="/admin">
            <div>
            <input type="submit" value="In Progress_10" name="function">
            </div>
            <div>
            <input type="submit" value="Done_10" name="function">
            </div>
        </form>
    <p>________________________________________________________________________________________</p>
    <p>11:00</p>
    <div class="jumbotron">
        <p>{{jumbo2}}</p>
    </div>
        <form action="/admin">
            <div>
                <input type="submit" value="In Progress_11" name="function">
            </div>
            <div>
                <input type="submit" value="Done_11" name="function">
            </div>
        </form>
    <p>________________________________________________________________________________________</p>
    <p>12:00</p>
    <div class="jumbotron">
        <p>{{jumbo3}}</p>
    </div>
        <form action="/admin">
            <div>
                <input type="submit" value="In Progress_12" name="function">
            </div>
            <div>
                <input type="submit" value="Done_12" name="function">
            </div>
        </form>
    <p>________________________________________________________________________________________</p>
    <p>13:00</p>
    <div class="jumbotron">
        <p>{{jumbo4}}</p>
    </div>
        <form action="/admin">
            <div>
                <input type="submit" value="In Progress_13" name="function">
            </div>
            <div>
                <input type="submit" value="Done_13" name="function">
            </div>
        </form>
    <p>________________________________________________________________________________________</p>
    <p>14:00</p>
    <div class="jumbotron">
        <p>{{jumbo5}}</p>
    </div>
        <form action="/admin">
            <div>
                <input type="submit" value="In Progress_14" name="function">
            </div>
            <div>
                <input type="submit" value="Done_14" name="function">
            </div>
        </form>
    <p>________________________________________________________________________________________</p>
    <p>15:00</p>
    <div class="jumbotron">
        <p>{{jumbo6}}</p>
    </div>
        <form action="/admin">
            <div>
                <input type="submit" value="In Progress_15" name="function">
            </div>
            <div>
                <input type="submit" value="Done_15" name="function">
            </div>
        </form>
    <p>________________________________________________________________________________________</p>
    <p>16:00</p>
    <div class="jumbotron">
        <p>{{jumbo7}}</p>
    </div>
        <form action="/admin">
            <div>
                <input type="submit" value="In Progress_16" name="function">
            </div>
            <div>
                <input type="submit" value="Done_16" name="function">
            </div>
        </form>
    <p>________________________________________________________________________________________</p>
    <p>17:00</p>
    <div class="jumbotron">
        <p>{{jumbo8}}</p>
    </div>
        <form action="/admin">
            <div>
                <input type="submit" value="In Progress_17" name="function">
            </div>
            <div>
                <input type="submit" value="Done_17" name="function">
            </div>
        </form>
</div>

</body>
</html>