<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<head>

    <title>adminDashboard</title>

</head>
<body>

<div class="contindex">
    <a href="/home"><div class="bg"><h8><i>AUTOSERVICE A&A</i></h8></div> </a>
</div>
</body>
</html>