<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">



    <style>
        .headerPanel{
            padding:4px;
            width:60%;

        }
        .spanNew{
            padding:4px;
            background-color:#f1f1f1;
            color:#a6aebc;
            border-style: solid;
            border-width: 0px;
            border-color: #000000;
        }
        .header2{
            padding:4px;

            color:#f1f1f1;
            background-color: #2f4f4f;

        }

        .headerH{
            padding:4px;
            background-color: #2f4f4f;
            color:#f1f1f1;
            overflow:hidden;


        }
        a {
            color: #f4f4f4;
        }
        body {
            font-family: sans-serif;
            margin: 0;
            background: #f2f2f2;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
        }

        p {
            text-align: center;
            margin-bottom:60px;
        }

        h4{
            text-align:center;
            line-height:80px;
            font-weight:normal;

        }

        .masonry { /* Masonry container */
            -webkit-column-count: 4;
            -moz-column-count:4;
            column-count: 4;
            -webkit-column-gap: 1em;
            -moz-column-gap: 1em;
            column-gap: 1em;
            margin: 1.5em;
            padding: 0;
            -moz-column-gap: 1.5em;
            -webkit-column-gap: 1.5em;
            column-gap: 1.5em;
            font-size: .85em;
        }
        .item {
            display: inline-block;
            background: #fff;
            padding: 1em;
            margin: 0 0 1.5em;
            width: 100%;
            -webkit-transition:1s ease all;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-shadow: 2px 2px 4px 0 #ccc;
        }
        .item img{max-width:100%;}

        @media only screen and (max-width: 320px) {
            .masonry {
                -moz-column-count: 1;
                -webkit-column-count: 1;
                column-count: 1;
            }
        }

        @media only screen and (min-width: 321px) and (max-width: 768px){
            .masonry {
                -moz-column-count: 2;
                -webkit-column-count: 2;
                column-count: 2;
            }
        }
        @media only screen and (min-width: 769px) and (max-width: 1200px){
            .masonry {
                -moz-column-count: 3;
                -webkit-column-count: 3;
                column-count: 3;
            }
        }
        @media only screen and (min-width: 1201px) {
            .masonry {
                -moz-column-count: 4;
                -webkit-column-count: 4;
                column-count: 4;
            }
        }



        body {font-family: Arial, Helvetica, sans-serif;}

        .myImg {
            border-radius: 5px;

            cursor: pointer;
            transition: 0.3s;
        }

        .myImg:hover {opacity: 0.7;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }
        .close {display: none;}

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }
        .modal-header .close {
            display:none;
        }
        /* Caption of Modal Image */
        .caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)}
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }

    </style>
</head>
<body>


<form method="post">

    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="userIdd" value={{usrId}} />
    <input type="hidden" name="folderIdd" value={{folderId}} />
<div align="right" class="headerH">
    <span class="in" style="float: left">
    Welcome <b>{{usrId}}</b>,this is your photo gallery.
    </span>
    <span style="float: right">
    <button class="in" onclick="window.location.href='/pictures/user{{usrId}}/{{&folderId}}/{{&folderId}}.zip'" type="button">Download</button>
    <button class="in" type="submit">Submit to Edit</button>
    <button class="in" onclick="window.location.href='http://localhost:8080/home'" type="button">SignOut</button>
    </span>
</div>

<br/>

<div align="center" style="width:100%">
    <div style="width:40%" align="center" class="header2">
    <span >Select album: </span>
    {{#folders}}
        <button class="in" onclick="window.location.href='myphotos?usrId={{usrId}}&albumId={{id}}'" type="button">{{folderName}}</button>
    {{/folders}}
    </div>
</div>
<div class="masonry">

    {{#pictures}}
    <div class="item">
        <img id="image{{&id}}" class="myImg" src="/pictures/user{{usrId}}/{{&folderId}}/{{&picturePath}}" alt="{{&id}}">
        <br/>
        <input type="hidden" name="all" value={{&id}}>
        <input type="checkbox" id="markForEdit{{&id}}"  name="markForEdit" value={{&id}}> {{&checkBox}} {{&picturePath}}<br/>
        <a href="/pictures/user{{usrId}}/{{&folderId}}/{{&picturePath}}" download>
            <p>downl</p></a>
        <br/>
        <!-- The Modal -->
        <div id="modal{{&id}}" class="modal">
            <span aria-hidden="true" class="close">&times;</span>
            <img class="modal-content" id="modalImage{{&id}}">
            <div id="caption{{&id}}" class ="caption" ></div>
        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('modal{{&id}}');

            document.getElementById("markForEdit{{&id}}").checked = {{&checkBox}};

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('image{{&id}}');
            var modalImg = document.getElementById("modalImage{{&id}}");
            var captionText = document.getElementById("caption{{&id}}");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </div>
    {{/pictures}}
    </div>
    </form>
<div>
    <button class="in"><a href="/dashboard2">Upload</a></button>
</div>







</body>
</html>
