<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/style.css" rel="stylesheet">
    <title>login</title>
</head>
<body>


<div class="login-page">
    <div class="form">
        <form action="/registration">
        <div>
            <input type="text" placeholder="Email Address" name="email">
            <input type="text" placeholder="Telephone Number" name="telephoneNumber">
            <input type="text" placeholder="Password" name= "password">
            <input type="text" placeholder="Repeat Password" name= "repeat">
                        <div class="jumbotron">
                                <p>{{jumbo}}</p>
                            </div>
        </div>
            <input type="submit" value="Create">
            <p class="message">Already registered?<a href=/login>Login</a></p>
        </form>
    </div>
</div>
</body>
</html>