<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/style.css" rel="stylesheet">
    <title>user</title>
</head>
<body>

<div class="container">
    <div class="log">
        <button class="in"><a class="HOME" href="/home">HOME</a></button>
    </div>
    <div class="jumbotron">
        <h1>{{jumbo_title}}</h1>
    </div>
   <div class="details">
       <div class="jumbotron">
           <p>{{jumbo0}}</p>
           <p>{{jumbo1}}</p>
           <p>{{jumbo2}}</p>
           <p>{{jumbo3}}</p>
           <p>{{jumbo4}}</p>
           <p>{{jumbo5}}</p>
           <p>{{jumbo6}}</p>
           <p>{{jumbo7}}</p>
           <p>{{jumbo8}}</p>
           <p>{{jumbo9}}</p>
           <p>{{jumbo10}}</p>
           <p>{{jumbo11}}</p>
           <p>{{jumbo12}}</p>
           <p>{{jumbo13}}</p>
           <p>{{jumbo14}}</p>
           <p>{{jumbo15}}</p>
           <p>{{jumbo16}}</p>
           <p>{{jumbo17}}</p>
           <p>{{jumbo18}}</p>
           <p>{{jumbo19}}</p>
           <p>{{jumbo20}}</p>
           <p>{{jumbo21}}</p>
           <p>{{jumbo22}}</p>
           <p>{{jumbo23}}</p>
           <p>{{jumbo24}}</p>
           <p>{{jumbo25}}</p>
           <p>{{jumbo26}}</p>
           <p>{{jumbo27}}</p>
           <p>{{jumbo28}}</p>
           <p>{{jumbo29}}</p>
       </div>
   </div>
</div>

</body>
</html>
