<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/style.css" rel="stylesheet">
    <title>user</title>
</head>
<body>

<div class="container">

    <div class="log">
        <button class="in"><a class="HOME" href="/home">HOME</a></button>
    </div>
           <h1>WELCOME,</h1>
    <div class="jumbotron">
        <h1>{{jumbo1}}</h1>
    </div>
   <div class="details">
        <p>Model:</p>
            <div class="jumbotron">
                <p>{{jumbo2}}</p>
            </div>
        <p>Service:</p>
            <div class="jumbotron">
                <p>{{jumbo3}}</p>
            </div>
        <p>Time:</p>
            <div class="jumbotron">
                <p>{{jumbo4}}</p>
            </div>
        <p>Status:</p>
            <div class="jumbotron">
                <p>{{jumbo5}}</p>
            </div>
</div>
</div>

</body>
</html>
